[ADB]
# adb install path
directory = r"D:\Program Files (x86)\ClockworkMod\Universal Adb Driver"
[time]
#  go work time  if you are 9  here need  add 8
go_hour = 8
# back work time if you are 18 here need add 18
back_hour = 18
[email]
# send person
sender = '1414044032@qq.com'
# password  Generally, third party login is required authorization code
psw = 'asdsadasdwqwqwqw'
# recevie  here It could be yourself
receive = '1414044032@qq.com'

[screen]
# Screen shot image path (do not include Spaces in the path, in order to save the screen shot sent by the phone, and save it in the email)
screen_dir = "D:\screen.png"
# Touch the screen on a series of coordinates.
[position]
# Slide to unlock
light_position = "300 1000 300 500"
# Click "work"
work_position = "359 1226"
# Click "time check"
check_position = "450 893"
# Click on "off duty"
play_position = "365 905"
